@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Access Denied";
}
<div style="margin-left:100px">
    <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview-removebg-preview.png" style="height: 293px; width: 387px;padding-left: 0px;margin-left: 476px;marging-top: 100px;margin-top: 100px;" />
    <p style="color: #ff670e;font-variant-caps: all-small-caps;font-size: 27px;margin-left: 376px;">Sorry Please Login With Your Valid Credential</p>
    <a style="margin-left: 617px;"asp-controller="admin" asp-action="login"><button class="btn btn-dark">Login</button></a>
</div>
<style>
    .btn-dark {
        background-color: #e52d2e;
        color: white:
    }
</style>