
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Nunito:wght@600&family=Oswald:wght@500&family=Roboto+Condensed:wght@700&family=Rubik&family=Sansita+Swashed:wght@600&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.0/load2.css" />
</head>
<body>
    <partial name="_NavbarLayoutSimple" />
    <style>
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/searchBar.js"></script>
    <script src="~/js/index.js"></script>
    <div id="sidebar-user">
        <div class="sidebar" style="position: fixed; padding-top: 114px; z-index: 99; background-color: #f5f2f2;">

            <div class="SideBarChild ">
                <div class="filter">
                    <a asp-action="account" id="filterLink">Profile Information</a>
                </div>

                <div id="" class="sort" style="padding: 0px; background-color: #c93e3e00; ">
                    <a asp-action="ManageAddress">Manage Address</a>
                </div>
            </div>


        </div>
    </div>
    <div class="content " style=" padding: 50px 77px; padding-bottom: 10px; background-color: #f5f2f2;">


        <div class="content " style=" padding: 143px 1px 6px;padding-bottom: 10px; margin-top: -10%; margin-left: 25px; padding-bottom: 10px; background-color: #f5f2f2; ">


            <div class="container-fluid">
                <main role="main" class="pb-3">
                    <div>
                        @RenderBody()
                        <footer>
                            <div class="row justify-content-center">
                                <a asp-action="index">
                                    <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview-removebg-preview.png" alt=" Mobizone" style="height: 60px; width: 60px; cursor: pointer;"
                                         class="float-left" />
                                </a>

                                <ul class="list">


                                    <li class="about">
                                        <a asp-controller="User" asp-action="Company" style="margin-right: -86px; text-decoration: none; ">Company</a>
                                    </li>
                                    <li class="about">
                                        <a asp-controller="User" asp-action="About" style="margin-right: -86px; text-decoration: none; ">About</a>
                                    </li>

                                    <li class="about">
                                        <a asp-controller="User" asp-action="Privacy" style="margin-right: -86px; text-decoration: none; ">Privacy & Policy</a>
                                    </li>

                                    <li class="about">

                                        <a asp-controller="User" asp-action="Contact" style="margin-right: -86px; text-decoration: none; ">Contact Us</a>


                                    </li>
                                </ul>

                            </div>
                            <div style="font-size: 12px; padding-bottom:10px">
                                <img src="~/css/Images/copyright-38672_1280.png" style="height: 10px; width: 10px;" /> Mobizone private limited all right reserved

                            </div>

                        </footer>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <style>
        body {
            font-family: 'Roboto', Arial, sans-serif;
        }

        .wrapper {
            width: 100%;
            max-width: 31.25rem;
            margin: 6rem auto;
        }

        .label {
            font-size: .625rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: +1.3px;
            margin-bottom: 1rem;
        }

        .searchBar {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #tags {
            width: 100%;
            height: 2.8rem;
            background: #f5f5f5;
            outline: none;
            border: none;
            border-radius: 1.625rem;
            padding: 0 3.5rem 0 1.5rem;
            font-size: 1rem;
        }

        #search-btn {
            width: 3.5rem;
            height: 2.8rem;
            margin-left: -3.5rem;
            background: none;
            border: none;
            outline: none;
        }

            #search-btn:hover {
                cursor: pointer;
            }
    </style>
    <style>
        .row {
            margin: 0px !important;
        }

        .SideBarChild {
            background-color: #d7d3d3;
            margin-left: 6px;
        }

        footer {
            margin-top: 0px !important;
            overflow-y: hidden;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/config/CartCount',
                type: 'get',
                success: function (data) {
                    if (data == 0) {

                    }
                    else {
                        $("#cartIcon").addClass("badge1");
                        $("#cartIcon").attr("data-count", data);
                    }

                }
            })
        })
    </script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>





