<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UILayer1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="~/css/footer.css" />

</head>
<body>


    @RenderBody()


    <footer class="border-top footer text-muted">




        <div class="row-bordered">

            <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png" alt=" Mobizone" style="height:132px; width:132px; margin-left:125px"
                 class="float-left" />
            <a class="float-xl-left" asp-action="Index" style="margin-right:8000px; margin-left:138px;">MOBIZONE</a>
            <ul class="list">
                <li class="about">
                    <a asp-controller="User" asp-action="Company" style="margin-right:-86px">Company</a>
                </li>
                <li class="about">
                    <a asp-controller="User" asp-action="About" style="margin-right:-86px">About</a>
                </li>

                <li class="about">
                    <a asp-controller="User" asp-action="Privacy" style="margin-right:-86px">Privacy & Policy</a>
                </li>

                <li class="about">

                    <a asp-controller="User" asp-action="Contact" style="margin-right:-86px">Contact Us</a>

                </li>
            </ul>

        </div>








        <li>
            <img src="~/css/Images/copyright-38672_1280.png" alt="Mobizone" style="height: 18px; width: 18px; margin-left: -365px;" />
            <a @*href=#*@> Mobizone private limited all right reserved</a>



        </li>

        </ul>

        </div>
        </div>

        <style>
            .container-fluid {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: 0px;
            }

            footer {
                margin-top: 100px;
            }

            .dropdown {
                display: none;
                background-color: #275e4900;
                padding-left: 8px;
                text-align: center;
                font-size: medium;
            }

            li {
                display: inline;
            }

            a {
                cursor: pointer;
            }

        </style>
    </footer>








    @*
        <footer>*@










    @*  <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png" alt=" Mobizone" style="height:177px; width:182px; margin-left:156px"
             class="float-left" />

        <ul class="list">
            <li class="about">
                <a asp-controller="Admin" asp-action="Company" style="margin-right:-86px">Company</a>
            </li>
            <li class="about">
                <a asp-controller="Admin" asp-action="About" style="margin-right:-86px">About</a>
            </li>

            <li class="about">
                <a asp-controller="Admin" asp-action="Privacy" style="margin-right:-86px">Privacy Policy</a>
            </li>

            <li class="about">

                <a asp-controller="Admin" asp-action="Contact" style="margin-right:-86px">Contact</a>


            </li>

        </ul>




            <img src="~/css/Images/copyright-38672_1280.png" alt="Mobizone" style="height:18px; width:18px;" />
            <a > Mobizone private limited all right reserved</a>
    *@






    @*</footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

