@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    if (ViewBag.BrandList == null)
    {
        ViewBag.BrandList = "";
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Nunito:wght@600&family=Oswald:wght@500&family=Roboto+Condensed:wght@700&family=Rubik&family=Sansita+Swashed:wght@600&family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
    <partial name="_NavbarLayout" />
    <div class="content " style=" padding: 143px 16px;">
        <div class="container-fluid" style=" margin-left: 0px;">
            <main role="main" class="pb-3">
                <div id="mypartialview"></div>
                <div>
                    @RenderBody()
                    <footer>
                        <div class="row justify-content-center">
                            <a asp-action="index">
                                <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview-removebg-preview.png" alt=" Mobizone" style="height: 60px; width: 60px; cursor: pointer;"
                                     class="float-left" />
                            </a>

                            <ul class="list">


                                <li class="about">
                                    <a asp-controller="User" asp-action="Company" style="margin-right: -86px; text-decoration: none; ">Company</a>
                                </li>
                                <li class="about">
                                    <a asp-controller="User" asp-action="About" style="margin-right: -86px; text-decoration: none; ">About</a>
                                </li>

                                <li class="about">
                                    <a asp-controller="User" asp-action="Privacy" style="margin-right: -86px; text-decoration: none; ">Privacy & Policy</a>
                                </li>

                                <li class="about">

                                    <a asp-controller="User" asp-action="Contact" style="margin-right: -86px; text-decoration: none; ">Contact Us</a>


                                </li>
                            </ul>

                        </div>
                        <div style="font-size: 12px; padding-bottom:10px">
                            <img src="~/css/Images/copyright-38672_1280.png" style="height: 10px; width: 10px;" /> Mobizone private limited all right reserved

                        </div>

                    </footer>
                </div>

            </main>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#filter").click(function () {
                $("#dropdown1").toggle();
            });

        });

        $(document).ready(function () {
            $("#sort").click(function () {
                $("#dropdown2").toggle();
            });
        });
    </script>
    <style>
        .row{
            margin:0px !important;
        }
    </style>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>