
footer {
    text-align: center;
   /* margin-top: 180px;*/
    position: relative;
    bottom: 0;
    width: 100%;
    /*white-space: nowrap;*/
    line-height: 58px;
   /* margin-top: 524px;*/
}

    footer ul {
        list-style-type: none;
    }
/*body {
    overflow-x: hidden;
}*/

.about {
    padding-right: 114px;
    font-size:15px;
}

li {
    text-decoration: none;
    list-style-type: none;
}

a.privacy {
    margin-right: -86px;
}

a.contact {
    margin-right: -86px;
}
