

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 228px;
    background-color: #f5f2f2;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0;
}

    .sidebar a {
        display: block;
        color: black;
        padding: 10px;
        text-decoration: none;
        font-size: larger;
        font-family: monospace;
        font-variant: all-petite-caps;
        font-size: 22px;
    }

        .sidebar a.active {
            background-color: #aba09f00;
            color: #eb4545;
        }
        

        .sidebar a:hover:not(.active) {
            background-color: transparent;
            color: gray;
        }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
