<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
</head>
<body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index">MOBIZONE</a>
            <div>
                <input class="input-group-lg" />
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>


            <div>
                <i class="fa-solid fa-cart-shopping"></i>
                <a class="mr-3">Cart</a>
                <i class="fa-solid fa-user"></i>
                @if (User.Identity.IsAuthenticated)
                {


                    <a asp-controller="User" asp-action="Logout">Logout</a>



                }
                else
                {

                    <a asp-action="Login">Account</a>
                }
            </div>

        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <ul class="list">
            <li>


                <img src="~/css/Image/MobiZone-logos_black.png" alt=" Mobizone" style="height:100px; width:100px;"
                     class="float-left" />

            </li>
            <li class="about">
                <a asp-controller="User" asp-action="Company">Company</a>
            </li>
            <li class="about">
                <a asp-controller="User" asp-action="About">About</a>
            </li>

            <li class="about">
                <a asp-controller="User" asp-action="Privacy" style="margin-right:-86px">Privacy Policy</a>
            </li>

            <li class="about">

                <a asp-controller="User" asp-action="Contact" style="margin-right:-86px">Contact</a>

            </li>


            <hr>
            <li>
                <img src="~/css/Images/MobiZone-logos_black.png" alt="Mobizone" style="height:18px; width:18px;"/>
                <a href=#> Mobizone private limited all right reserved</a>



            </li>

        </ul>

    

    <style>
        .container-fluid {
            /* width: 100%; */
            /* padding-right: 15px; */
            /* padding-left: 15px; */
            /* margin-right: auto; */
            margin-left: 0px;
        }
    </style>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
