@model DomainLayer.Users.Address

@{

    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";


    ViewData["Title"] = "Manage Profile";
}

@*<body>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <h5 class="list-group-item">
                            Account Settings
                        </h5>
                        <a class="list-group-item list-group-item-action active" asp-action="account">Profile Information</a>
                        <a class="list-group-item list-group-item-action" asp-action="address">Manage Address</a>
                    </div>
                </div>

            </div>
        </div>
    </body>*@
<div class="row align-item-center">
    <div class="col-md-8 mb-4">
        <div class="card-body">
            <form asp-action="Address">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <input asp-for="id" class="form-control" type="hidden" />

                <div class="form-group row mb-4">
                    <div class="col-md-6">
                        <label asp-for="name" class="control-label">Name</label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="col"></div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="address" class="control-label">Address</label>
                        <input asp-for="address" class="form-control" />
                        <span asp-validation-for="address" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="district" class="control-label">District</label>
                        <input asp-for="district" class="form-control" />
                        <span asp-validation-for="district" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="state" class="control-label">State</label>
                        <input asp-for="state" class="form-control" />
                        <span asp-validation-for="state" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="country" class="control-label">Country</label>
                        <input asp-for="country" class="form-control" />
                        <span asp-validation-for="country" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="pincode" class="control-label">Pincode</label>
                        <input asp-for="pincode" class="form-control" />
                        <span asp-validation-for="pincode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="phoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="phoneNumber" class="form-control" />
                        <span asp-validation-for="phoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="additionalInfo" class="control-label">Additional Info</label>
                        <input asp-for="additionalInfo" class="form-control" />
                        <span asp-validation-for="additionalInfo" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <br />
                <div class="text-center">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-orange" />  <a asp-action="index" value="Cancel" class="btn btn-primary" />Cancel</a>
                    </div>


            </form>

        </div>
    </div>
</div>
<style>
    .card-body{
        margin-left:40%;
    }
    .text-center{
        margin-left:73%;
    }
</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
