@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";
    ViewData["Title"] = "Add to Cart";
}
@*<div class=" text-center">
    <div class="form-group">
        <a asp-action="CartPage"><button class="btn btn-primary">Add to Cart</button></a>
    </div>
</div>*@
<script>
    $.ajax({
        url: "/user/cartDetails",
        method: "get",
        dataType: "json",
        success: function (data) {
            console.log(data)
        }
        , error: function () {
            console.log("error occured");
        }
    })
</script>