@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}
<div class="row">
    <div class="col">
        <div class=" text-md-center">
            <img src="~/css/Images/samsung image.jpg" alt=" Samsung" style="height:162px;margin-right:90%; width:162px;" />
        </div>
        <div class="col">
            <div class="text-center ">

                <h5>Samsung Galaxy M12(Blue,6GBRAM ,128GB Storage)</h5>

                <h3>17,499/-</h3>

             

                <div><a href="#" class="btn btn-primary" style="margin-left">Remove</a></div>
                <div> <a href="url">Return to Store</a></div>
            </div>
        </div>
    </div>
</div>
<style>
    .text-center{
        padding-right:40%;
        margin-top:-13%;
    }
</style>