
@{}
@*<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: "Lato", sans-serif;
            }

            .sidenav {
                margin: 0;
                padding: 0;
                width: 200px;
                background-color: #f1f1f1;
                position: relative;
                height: 500%;
                overflow: auto;
            }

                .sidenav a {
                    padding: 6px 8px 6px 16px;
                    text-decoration: none;
                    font-size: 25px;
                    color: black;
                    display: block;
                }

                    .sidenav a:hover {
                        color: #f1f1f1;
                    }

            .main {
                margin-left: 160px;
                font-size: 28px;
                padding: 0px 10px;
            }
        </style>
    </head>
    <body>
        <div class="text-md-center">
            <h3>Shopping Cart</h3>
            <img src="~/css/Images/samsung image.jpg" alt="samsung" />
            <h5>Samsung Galaxy M12(Blue,6GBRAM ,128GB Storage)</h5>
            <h3>17,499/-</h3>
            <a href="#" class="btn btn-primary" style="margin-left">Qty</a>
            <a href="">Delete</a>
        </div>
        <div class="sidenav">
            <a href="">Filter</a>
            <a href="">Brand</a>
            <a href="">Sort</a>
            <a href="">Price</a>
        </div>

    </body>
    </html>*@
<div class="" style="padding-top:60px;">
    <div class="sidebar" style="">

        <div id="filter">
            <a class="@(Context.Request.Path == "/User/" ? "active" : "")">Filter</a>
            <div id="dropdown1" class="dropdown">
                <a asp-action="brand" class="@(Context.Request.Path == "/User/Filter/Brand" ? "active " : "")">Brand</a>
            </div>
        </div>
        <div id="sort">
            <a class="@(Context.Request.Path == "/User/Sort" ? "active" : "")">Sort</a>
            <div id="dropdown2" class="dropdown">
                <a asp-action="price" id="dropdown2" class="@(Context.Request.Path == "/User/" ? "active " : "")">Price</a>
            </div>
        </div>


    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#filter").click(function () {
                $("#dropdown1").toggle();
            });
        });
        $(document).ready(function () {
            $("#sort").click(function () {
                $("#dropdown2").toggle();
            });
        });
    </script>
    <style>
        .dropdown {
            display: none;
            background-color: #19bb7b;
            padding-left: 8px;
            position: fixed;
        }
    </style>
    <div class="row">
        <div class="text-center col-8">
            <h3>Shopping Cart</h3>
            <img src="~/css/Images/samsung image.jpg" alt="samsung" />
            <h5>Samsung Galaxy M12(Blue,6GBRAM ,128GB Storage)</h5>
            <h4>17,499/-</h4>
            <a href="#" class="btn btn-primary" style="margin-left">Qty</a>
            <a href="">Delete</a>
        </div>
        <div class="col-1">
            <!-- Card with center text alignment -->
            <div class="card text-center" style="width:400px;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <hr />
                    <p class="">Sub Total :17,499/- </p>
                    <p class="">Shipping Charge : 0</p>
                    <h5 class="">Total Cost:17,499/-</h5>
                    <a class="btn btn-light "><button>  Proceed to Buy</button></a>
                </div>
            </div>
        </div>
    </div>

























