@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class=" flex-fill">
    <div class=" text-center">

        <h1>Contact Us</h1>

        <div class=" " container>
            <div class=" contact us"></div>
            <div class="box"></div>
            <div class="icon"></div>
            <div class=" text">
                <h3>Address</h3>
                <p> MobiZone store <br>Eranakulam <br> Kakkanad <br>Pin:654432</p>
            </div>
            <div class="box"></div>
            <div class="icon"></div>
            <div class=" text">
                <h3>Email</h3>
                <p> Mobizone@gmail.com</p>
            </div>
        </div>
        <div class="box"></div>
        <div class="icon"></div>
        <div class=" text">
            <h3>Phone</h3>
            <p>9744321234</p>
        </div>
    </div>
    <style>
        .container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        .flex-fill {
            margin-left: -86px;
        }

        .container-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: -86px;
        }
    </style>
</section>



