@model DTOLayer.UserModel.ForgetPasswordViewModel
@{
    Layout = "~/Views/Simpleview/_UserLogin.cshtml";
    ViewData["Title"] = "Mobizone- ForgotPassword";
    bool check = ViewBag.check; 
}


<div class="row">

    <section class="ftco-section col-12" style="margin-top: 145px;">

        <div class="row justify-content-center ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:382px;">
                <div class="col-12">
                    <div class="row ">
                        <div class="img col" style="background-image:url(images/xbg-1.jpg.pagespeed.ic.3OAd9jZTMD.webp)">
                            <a href="/user/Index">
                                <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png" width="250px" />
                            </a>
                           
                        </div>
                        <div class="col-12  ">
                            <div class="d-flex" style="text-align: center; margin-left: 35%;">
                               
                                <a asp-action="index">
                                    <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview-removebg-preview.png" alt=" Mobizone" style="height:62px; width:65px; margin-top:10px" />
                                </a>
                                <div class="w-100">

                                    <h3 class="mb-4" style="margin-top:65px; margin-left:-170px">Reset Password</h3>
                                </div>

                            </div>
                            <form asp-action="ForgotPassword" method="post">
                                <div class="form-group mb-3 ">
                                    <label asp-for="email" class="control-label">Email</label>
                                    <input asp-for="email" type="text" class="form-control" placeholder="Email id " required>
                                    <span asp-validation-for="email"></span>
                                </div>

                                <div class="form-group">

                                    <button type="submit" onclick="return validate()" class="form-control button rounded submit px-3" style="color: white; background-color: #c72b2b">Send Mail</button>

                                </div>




                            </form>
                            @if (Model.emailSent)
                            {
                                <div><p style="color:white;">We have send an email to @Model.email</p></div>
                            }

                            @if(check)
                            {
                               <div><span>You are not a registered user please Register<span><a asp-action="registration">Here</a></span></span></div>
                            }
                            <div class="form-group">
                                <a class="btn btn-light" style=" margin-left: 62%; color:black;" href="../login" ; ><b>Back</b></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          
        </div>
    </section>

</div>


<style>
    .img {
        width: 2350px;
        vertical-align: middle;
        border-style: none;
        vertical-align: middle;
        border-style: none;
        background-color: white;
        margin-left: 30px;
        margin-top: 50px;
        display:none;
    }
    .button {
        background-color: indianred;
    }
    section {
        margin-left: 0px;
        margin-top: 0px;
    }
    .form-control {
        display: inline-block;
    }
    .bg-white {

        background: linear-gradient(to bottom,#fff1f1 40%, #222121 ) !important;
    }
    .alert-danger {
        color: #040404;
        background-color: #f1f1f1;
        border-color: #f5c6cb;
    }
</style>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
