@model DomainLayer.Users.LoginViewModel

@{
    Layout = "~/Views/Simpleview/_UserLogin.cshtml";
    ViewData["Title"] = "Login";
}
@{
    var loginUrl = ViewData["LoginUrl"] as string;
    var error = TempData["error"] as string;
}


@if (User.Identity.IsAuthenticated)
            {
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
            }





    <hr />
<div style="text-align: center;">

    <div style="width: 400px; margin-left: auto; margin-right:auto;">

        <h1>Login</h1>

    </div>

</div>


<section>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png"
                     class="img-fluid" alt="Phone image" style="height: 62px;width: 65px; margin-top:10px;margin-left:100px;">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form asp-action="Login" method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="username" id="form1Example13" class="form-control form-control-lg" />
                        <label asp-for="username" for="form1Example13" class="form-label">Email address</label>
                        <span asp-validation-for="username" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input asp-for="password" class="form-control form-control-lg" />
                        <label asp-for="password" class="form-label">Password</label>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        @*<div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                <label class="form-check-label" for="form1Example3"> Remember me </label>
                            </div>*@
                        <a asp-action="ForgotPassword">Forgot Password? Click here to reset Password</a>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                    <div class="form-group">
                        @if (!string.IsNullOrEmpty(error))
                        {
                            <span class="alert-danger" style="padding:20px ;">@error</span>
                        }
                    </div>

                   @* <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                       role="button">
                        <i class="fab fa-google me-2"></i>Continue with Gooogle
                    </a>*@
                    <div>
                        <a asp-action="Registration">Do not have a account? Click here</a>
                    </div>
                    @*  <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                           role="button">
                            <i class="fab fa-twitter me-2"></i>Continue with Twitter
                        </a>*@
                    <input asp-for="url" type="hidden" value="@System.Net.WebUtility.UrlEncode(loginUrl)" />
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
