@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";

}
<h3 style="text-align:center">My Orders</h3>


<div class=" text-md-center" style=" margin-top: 3%;">
    <img src="~/css/Images/samsung image.jpg" alt=" Samsung" style="height:70px;margin-right:90%; width:70px;" />
</div>

<div class="text-center ">

    <h5 style=" font-size: 100%; margin-top: -6%; margin-left: -50%;  ">Samsung Galaxy M12(Blue,6GBRAM ,128GB Storage)</h5>


</div>
<div>
    <h3 style=" margin-left: 53%; font-size: 120%; margin-top: -2%;">17,499/-</h3>
</div>

<div style="margin-left: 83%; margin-top: -3%;">
    <h5> Dispatched</h5>
   </div>

<a type="button" class="btn  btn-orange" style="background-color: #5be5b2; padding-left: 1%; padding-right: 1%; color: black; margin-left: 81%; margin-top: 13%; " asp-action="index">Back</a>&nbsp;
@* <div> <a href="url">Return to Store</a></div>*@
   
