@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mobizone- Order Placed";
    Layout = "~/Views/Simpleview/_BasicLayout.cshtml";
}



<div class=" text-center">

    <img src="~/css/Images/Tick image.png" alt=" Tick" style="height: 177px; margin-top: 15%; width: 182px;" />
    <h2>Order Placed Successfully</h2>
</div>