@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}


<div class=" text-center">

    <img src="~/css/Images/Tick image.png" alt=" Tick" style="height:177px; width:182px;" />
    <p> <h3> Order Placed Successfully</h3> On Order Id : @ViewBag.orderId </p> 
</div>