@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    Layout = "~/Views/Simpleview/_BasicLayoutcshtml.cshtml";
    }


@*<div class="row">
    <div class="col">
        <img src="~/css/Images/samsung image.jpg" alt=" Samsung" style="height:162px; width:162px;" />
    </div>
    <div class="col">
        <p>Samsung Galaxy M12<br>(Blue,6GBRAM ,128GB Storage)</p>

    </div>
    <div class="col">
        <p>17,499/-</p>
    </div>
    <div class="col">
        <p>Dispatched On <br>22/04/22</p>
    </div>
</div>*@

























