@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mobizone- Privacy & Policy";
    Layout = "~/Views/Simpleview/_BasicLayout.cshtml";
}

@model DomainLayer.PrivacyPolicy
<section class=" flex-fill"><div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-left: 19%; margin-right: 25%;">
        <div class="card-body">
            <section class=" flex-fill" style="margin-left: 0px;">
                <div class=" text-center">

                    <h2>Privacy & Policy</h2>
                    <br />
                    <br />
                    <p>@Model.content</p>
                </div>
            </section>
        </div>
    </div>
    </div>


                            <style>
                                .About {
                                    margin-left: 0px;
                                }

                                a:hover {
                                    text-decoration: none;
                                    color: inherit;
                                }

                                a {
                                    cursor: pointer;
                                }
                            </style>

</section>
