<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UILayer1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="~/css/footer.css" />

</head>
<body>
    <partial name="Admin\_navbar" />
    <partial name="Admin\_sideBarMenu" />
    <div class="content ">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div id="mypartialview"></div>

                @RenderBody()
            </main>
        </div>
    </div>





    <footer>

        <img src="~/css/Image/MobiZone-logos_black.png" alt=" Mobizone" style="height:100px; width:100px;"
             class="float-left" />

        </li>
        <li class="about">
            <a asp-controller="User" asp-action="Company" style="margin-right:-86px">Company</a>
        </li>
        <li class="about">
            <a asp-controller="User" asp-action="About" style="margin-right:-86px">About</a>
        </li>

        <li class="about">
            <a asp-controller="User" asp-action="Privacy" style="margin-right:-86px">Privacy Policy</a>
        </li>

        <li class="about">

            <a asp-controller="User" asp-action="Contact" style="margin-right:-86px">Contact</a>


        </li>


        <hr>
        <li>
            <img src="~/css/Image/copyright-38672_1280.png" alt="Mobizone" style="height:18px; width:18px;" />
            <a href=#> Mobizone private limited all right reserved</a>



        </li>


        </hr>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

