@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mobizone(Admin) - Edit About";
}


@model DomainLayer.About

<div class="row container-fluid pr-6">
    <div class="container-fluid mt-3 align-middle">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="">

                    <div class="text-center">

                        <form asp-action="AboutEdit" method="post">
                            <h2> Edit About</h2>
                            <input asp-for="id" value="@Model.id" type="hidden" maxlength="500" />
                            <textarea asp-for="content" rows="10" cols="50"  placeholder="maximum limit upto 100-500 words"  maxlength="500"></textarea>
                            <br />
                            <div>
                                <input type="submit" value="Save" class="btn btn-orange" />
                            </div>

                        </form>
                        <div class="text-center">
                            <div class="form-group">
                                <a class="btn btn-indigo" asp-controller="Admin" asp-action="About" style="text-decoration: none; "><b style="color: white;">Cancel</b></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .btn-indigo {
        background: #e52d2e;
        color: white;
        margin-top: -5%;
        margin-left: 33%;
    }

    .btn-orange {
        background: #3187e3;
        color: white;
        margin-left: 20%;
    }
</style>