@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "Company";
}
<div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="">
                <section class=" flex-fill">
                    <div class=" text-center">

                        <h2>
                            Company
                        </h2>
                        <h4> <br /> The One-stop Mobile Shopping Destination</h4>

                    </div>

                    <p>

                        <br>From budget phones to state-of-the-art smartphones, we have a mobile for everybody out there. Whether you're looking for larger, fuller screens, power-packed batteries, blazing-fast processors, beautification apps, high-tech selfie cameras or just large internal space, we take care of all the essentials. Shop from top brands in the country like Samsung, Apple, Oppo, Xiaomi, Realme, Vivo, and Honor to name a few. Rest assured, you're buying from only the most reliable names in the market.<br />
                    </p>


                    <style>
                        .About {
                            margin-left: 300px;
                        }
                    </style>

                </section>
             </div>
            
        </div>
        
    </div>
</div>

