@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model DomainLayer.AdminContact
@{
    ViewData["Title"] = " Admin- Edit Contact Us";
}
@*<div class="text-center">
    <div class="row align-item-center">*@
<div class="container-fluid mt-3 align-middle" style="width:72%">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-md-12 mb-4">
            <div class="card-body">
                <div class=" text-center"
                     <h2>Edit Contact Us</h2>
                     <form asp-action="ContactEdit" method="post">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                         <input asp-for="id" value="@Model.id" type="hidden" />
                         <input asp-for="id" class="form-control" type="hidden" />

                         <div class="center">
                             <div class="form-group row mb-4">
                                 <div class="col-md-12">
                                     <label asp-for="shopName" class="edit" style="margin-left:-84%;">Shop Name</label>
                                     <input asp-for="shopName" placeholder="Shop Name" class="form-control" type="text" />
                                     <span asp-validation-for="shopName" class="text-danger"></span>
                                 </div>


                             </div>
                             <div class="row">
                                 <div class="col-md-12">
                                     <label asp-for="address" class="edit" style="margin-left:-88%">Address</label>
                                     <input asp-for="address" placeholder="Address" class="form-control" type="text" />
                                     <span asp-validation-for="address" class="text-danger"></span>
                                 </div>
                             </div>
                             <br />
                             <div class="row">
                                 <div class="col-md-6">
                                     <input asp-for="district" placeholder="District" class="form-control" type="text" />
                                     <span asp-validation-for="district" class="text-danger"></span>
                                 </div>
                                 <div class="col-md-6">
                                     <input asp-for="pincode" placeholder="Pincode" class="form-control" type="number" />
                                     <span asp-validation-for="pincode" class="text-danger"></span>
                                 </div>
                             </div>
                             <br />
                             <div class="row">
                                 <div class="col-md-6">
                                     <input asp-for="state" placeholder="State" class="form-control" type="text" />
                                     <span asp-validation-for="state" class="text-danger"></span>
                                 </div>
                                 <div class="col-md-6">
                                     <input asp-for="country" placeholder="Country" class="form-control" type="text" />
                                     <span asp-validation-for="country" class="text-danger"></span>

                                 </div>
                             </div>


                             <br />
                             <div class="row">
                                 <div class="col-md-6">
                                     <label asp-for="email" class="control-label" style="margin-right:87%;">Email</label>
                                     <input asp-for="email" class="form-control" type="text" />


                                 </div>


                                 <div class="col-md-6">
                                     <label asp-for="phoneNumber" class="edit" style="margin-left:-58%;">Phone number</label>
                                     <input asp-for="phoneNumber" class="form-control" type="tel" />
                                     <span asp-validation-for="phoneNumber" class="text-danger"></span>
                                 </div>

                             </div>


                           
                         </div>
                         <div class="row" style="margin-left: 73%; margin-top: 5%;">
                           
                                 <div class="form-group">
                                     <input type="submit" value="Save" class="btn btn-orange" />
                                 </div>
                          
                                 <div class="form-group">
                                     <a class="btn btn-indigo" asp-controller="Admin" asp-action="Contact" style="text-decoration: none; margin-left: 20%; margin-top: 0.5%; "><b style="color: white;">Cancel</b></a>
                                 </div>

                         </div>
                        
                     </form>


                   
                 </div>
            </div>
        </div>
    </div>
</div>
<style>
    .btn-orange {
        background: #3187e3;
        color: white;
    }

    .btn-indigo {


        background: #e52d2e;
        color:white;

        margin-left: 85%;
        margin-top: -15%;
       
    }
    .control-label{
        margin-right:88%;
    }
    input[type="text"] {
        text-align: left;
    }
    input[type="tel"] {
        text-align: left;
    }
    input[type="number"] {
        text-align: left;
    }
</style>
@*<div>
        <a asp-action="Index">Back to List</a>
    </div>
*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

