@model IEnumerable<DTOLayer.Product.ProductListViewModel>

@{
    ViewData["Title"] = "ProductList";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js" defer></script>

<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
<table id="datatable" class="table table-bordered">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Edit</th>
            </tr>
        </thead>
</table>

<script>
    $(document).ready(function(){

            
            $.ajax({
                url:'productList',
                type:'get',
                datatype:'json',
                success:function(data){
                    console.log(data);
                    $('#datatable').dataTable({
                        "processing": false,
                        data:data,
                        columns:[
                            {'data':'productBrand'},
                            {'data':'model'},
                            {'data':'quantity'},
                            {'data':'price'},
                            {  
                    "render": function(data, type, full, meta) { return '<a class="btn btn-info" href="/admin/Edit/' + full.id + '">Edit</a> <button class="btn btn-danger"><a href="#" onclick="someFunction(' + full.id + '); ">Delete</a></button>'; }  
                }
                 
                                       ]
                    })
                }
            })
        })

        function someFunction(data) {
    var id = data;
    $(document).ready(function (e) {
        if (confirm("please confirm") == true) {
            $.ajax({
                url: 'admin/Delete/' + id,
                type: 'delete',
                dataType: 'json',
                success: function (data) {
                    alert(data["result"])
                }
            })
        }
        else (
            alert("thankyou"))


    });
}
</script>