@{
    Layout = "~/Views/Simpleview/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["error"] as string;
}
@model DomainLayer.Users.LoginViewModel

<script type="text/javascript">
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>


@*<div style="text-align: center;">
       <div style="width: 500px; margin-left: auto; margin-right:auto;">
           <h1>Admin Panel Login</h1>
       </div>
    </div>
       <br />
       <br />
       <br />
       <br />

           <div class="row">
               <div class="col-md-4" style="width: 500px; margin-left: auto; margin-right:auto;">
                   <form action="/Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <div class="form-group">
                           <label asp-for="userName" class="control-label"></label>
                           <input asp-for="userName" class="form-control" name="userName" placeholder="User name " required />
                           <span asp-validation-for="userName" class="text-danger"></span>
                       </div>
                       <div class="form-group">
                           <label asp-for="password" class="control-label"></label>
                           <input asp-for="password" class="form-control" placeholder=" Password" minlength="8" required />
                           <span asp-validation-for="password" class="text-danger"></span>
                       </div>
                       <div class="text-center">
                           <div class="form-group">
                               <input type="submit" value="Login" class="btn btn-primary" />
                           </div>
                       </div>

                   </form>
               </div>
           </div>
*@


<script src="./Login 04_files/jquery.min.js.download"></script>
<script src="./Login 04_files/popper.js+bootstrap.min.js+main.js.pagespeed.jc.JD3obyg0WD.js.download"></script>
<script>eval(mod_pagespeed_YYCwSj$83H);</script>
<script>eval(mod_pagespeed_fUKQzxht9j);</script>
<script>eval(mod_pagespeed_lpntivnFUb);</script>
<script defer="" src="./css/Images/Mobizone-logos_black.png"></script>




<div class="row">
  
    <section class="ftco-section col-6" >

        <div class="row justify-content-center ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex ">
                        <div class="img" style="background-image:url(images/xbg-1.jpg.pagespeed.ic.3OAd9jZTMD.webp)">
                            <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png" width="350px" />
                        </div>
                        <div class="login-wrap p-4 p-md-5 ">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Login</h3>
                                </div>

                            </div>
                            <form action="/Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                                <div class="form-group mb-3 ">
                                    <label asp-for="userName" class="control-label">Username</label>
                                    <input asp-for="userName" type="email" class="form-control" placeholder="Username" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="password" class="control-label">Password</label>
                                    <input asp-for="password" class="form-control" placeholder=" Password" minlength="8" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control button rounded submit px-3">Login</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
            </div>
</section>
   
</div>
<div>

</div>
    <br />
<br/>


<style>
    .img {
        width: 350px;
        vertical-align: middle;
        border-style: none;
        vertical-align: middle;
        border-style: none;
        background-color: white;
    }

    .button {
        background-color: indianred;
    }
    section {
        margin-left: 386px;
        margin-top:90px;
    }
    .form-control {
        display:inline-block;
    }
</style>

<div class="row" style="width: 400px; margin-left: 644px; margin-right:auto;">

    @if (!string.IsNullOrEmpty(error))
    {
        <span class="alert-danger" style="padding:20px;">@error</span>
    }
</div>