@{
    Layout = "~/Views/Simpleview/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["error"] as string;
}
@model DomainLayer.Users.LoginViewModel

<script type="text/javascript">
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>


<script src="./Login 04_files/jquery.min.js.download"></script>
<script src="./Login 04_files/popper.js+bootstrap.min.js+main.js.pagespeed.jc.JD3obyg0WD.js.download"></script>
<script>eval(mod_pagespeed_YYCwSj$83H);</script>
<script>eval(mod_pagespeed_fUKQzxht9j);</script>
<script>eval(mod_pagespeed_lpntivnFUb);</script>

<div class="row">

    <section class="ftco-section col-6">

        <div class="row justify-content-center ">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex ">
                        <div class="img" style="background-image:url(images/xbg-1.jpg.pagespeed.ic.3OAd9jZTMD.webp)">
                            <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview.png" width="250px" />
                        </div>
                        <div class="login-wrap p-4 p-md-5 ">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Login</h3>
                                </div>

                            </div>
                            <form action="/Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                                <div class="form-group mb-3 ">
                                    <label asp-for="username" class="control-label">Email</label>
                                    <input asp-for="username" type="text" class="form-control" placeholder="Username" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="password" class="control-label">Password</label>
                                    <input asp-for="password" class="form-control" placeholder=" Password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control button rounded submit px-3">Login</button>
                                </div>


                            </form>

                        </div>

                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(error))
            {
                <div class="alert alert-danger" role="alert">
                    @error@* <a href="registration" class="alert-link">Register</a>. Give it a click if you like.*@
                </div>
            }
        </div>
    </section>

</div>
<div>

</div>
<br />
<br />


<style>
    .img {
        width: 2350px;
        vertical-align: middle;
        border-style: none;
        vertical-align: middle;
        border-style: none;
        background-color: white;
    }

    .button {
        background-color: indianred;
    }

    section {
        margin-left: 386px;
        margin-top: 90px;
    }

    .form-control {
        display: inline-block;
    }
</style>
<div class="row" style="width: 400px; margin-left: 644px; margin-right:auto;">

    
</div>
