@model IEnumerable<DomainLayer.ProductModel.Master.MasterTable>

@{
    ViewData["Title"] = "Mobizone(Admin) MasterList";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
*@
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
*@
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js" defer></script>
<div class="row container-fluid pr-6">
    <div class="container-fluid mt-3 align-middle">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="">

                    <table id="datatable" class="table table-bordered table-hover table-sm" style="width: 25%;">
                        <thead>
                            <tr>

                                <th>
                                    @ViewBag.MasterTitle
                                </th>
                                <th style="width: 1%;">
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <div class="col">
                                            @Html.DisplayFor(modelItem => item.masterData)

                                        </div>
                                    </td>
                                    <td>
                                        <span onclick="deleteFunction(@item.id);" class="fa-solid fa-trash" data-toggle="tooltip" title="Delete" aria-hidden="true"></span>
                                        <span class="fa-solid fa-pen-to-square" onclick="masterEdit(@item.id)" style="margin-left:15%"></span>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold;font-size: 23px;">Edit Master Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>
<style>

    .glyphicon {
        font-size: x-large;
        color: black;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
    span{
        cursor:pointer;
    }
    @*.paddingIssue{
        padding-top : 80px;
    }*@
</style>
<div class="modal " id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center" style="background-color: brown;">
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fas fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<script>
    function deleteFunction(data) {
        var id = data;
        $(document).ready(function (e) {
            $.ajax({
                url: 'admin/MasterDelete/' + id,
                type: 'get',
                success: function (response) {
                    $("#modalConfirmDelete").find(".modal-body").html(response);
                    $("#modalConfirmDelete").modal('show');
                },
                failure: function (response) {
                    alert("fail");
                },
                error: function (response) {
                    console.log(response);
                }
            })

        });
    }
    $(document).ready(function (e) {
        $('#datatable').dataTable({
        })
    })

    function masterEdit(data) {
        var id = data;
        $(document).ready(function (e) {

            $.ajax({
                url: 'admin/EditMaster/' + id,
                type: 'get',
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert("fail");
                },
                error: function (response) {
                    console.log(response);
                }
            })

        });
    }




</script>