@model IEnumerable<DomainLayer.ProductModel.Master.MasterTable>

@{
    ViewData["Title"] = "MasterList";
}
<div class="row container-fluid pr-6">
    <div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="">

<table  id="datatable" class="table table-bordered table-hover table-sm" style="width:100%">
    <thead>
        <tr>
            
            <th>
                @ViewBag.MasterTitle
            </th>
            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.masterData)
            </td>
            
            
        </tr>
}
    </tbody>
</table>
</div></div></div></div></div>

<p>
    <a asp-action="MasterData">Back </a>
</p>
