@model DomainLayer.ProductModel.Master.MasterTable

@{
    ViewData["Title"] = "MasterDelete";
}

<h3>Delete Master Data</h3>
<div>

    <dl class="row">
        <dt class = "col-sm-6">
           Master Data
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.masterData)
        </dd>

    </dl>
    <div class="row">
        <div class="modal-footer col">
            <form asp-action="MasterDelete">
                <input asp-for="parantId" type="hidden" value="@Model.parantId" />
                <input asp-for="id" type="hidden" value="@Model.id" />
<<<<<<< HEAD
                <input type="submit" value="Delete" class="btn btn-danger" />
=======
                <input type="submit" value="Delete" class="btn btn-danger" /> 
>>>>>>> 0d1719d2a601f1fc04dda138a75c26b1ccb87a5e
            </form>
        </div>
        <div class="modal-footer col">
            <button type="button" class="btn  btn-success waves-effect" data-dismiss="modal" style="padding-right: 21px; padding-left: 21px; background-color:#6094dd">No</button>
        </div>
    </div>
