@model IEnumerable<DomainLayer.ProductModel.Master.MasterTable>

@{
    ViewData["Title"] = "Mobizone(Admin) MasterList";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js" defer></script>
<div class="row container-fluid pr-6">
    <div class="container-fluid mt-3 align-middle">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="">

                    <table id="datatable" class="table table-bordered table-hover table-sm" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    @ViewBag.MasterTitle
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <div class="col">
                                            @Html.DisplayFor(modelItem => item.masterData)
                                            <span class="glyphicon glyphicon-edit" onclick="masterEdit(@item.id)"></span>
                                        </div>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="MasterData">Back </a>
</p>

<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>
<style>
    span {
        margin-left: 100px;
    }

    .glyphicon {
        font-size: x-large;
        color: black;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
</style>
<script>
    $(document).ready(function (e) {
        $('#datatable').dataTable({
        })
    })
    
    function masterEdit(data) {
        var id = data;
        $(document).ready(function (e) {
            
            $.ajax({
                url: 'admin/EditMaster/' + id,
                type: 'get',
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert("fail");
                },
                error: function (response) {
                    console.log(response);
                }
            })

        });
    }

    
                
            
</script>