@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using UILayer.Models
@using DomainLayer
@using System.Web
@model IEnumerable<DomainLayer.Checkout>

@{
    var values = Enum.GetValues(typeof(DomainLayer.OrderStatus));
    var productList = ViewData["ProductList"] as List<string>;
    DomainLayer.ProductModel.ProductEntity productDetails;
    ViewData["Title"] = "Mobizone(Admin) Customer Orders";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="paging.js"></script>
@*<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
*@<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
*@
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js" defer></script>

<script src="paging.js"></script>
<style>


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #submit-btn {
        padding-bottom: 100px;
        padding-left: 100px;
    }

    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
</style>
<div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="">
                <table id="datatable" class="table table-bordered table-hover table-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>OrderId</th>
                            <th>Cancel Request</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {



        var status;
        var dataStatus;
        var obj;
        const dataList = [];
        const Roles = [];
        const statusList = [1, 2, 3, 4];
        var getLink;
        var header;
        configLink(header);
        function configLink(callback) {
            $.ajax({
                url: '/config/getapi',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    getLink = data + 'api/users/CheckOutData';
                    //header();
                    callback(getStatus);
                }
            })
        }
        function header(callback) {
            $.ajax({
                url: '/config/GetHeader',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    header = data;
                    callback(getOrderList);

                }
            })
        }
        function getStatus(callback) {
            $.ajax({
                url: 'OrderStatus',
                type: 'get',
                datatype: 'json',
                success: function (data) {
                    status = data;
                    console.log(status);
                    callback();
                    obj = JSON.parse(status);
                    for (name in obj) {
                        dataList.push(name)

                    }

                }
            })
            
        }

            

function getOrderList() {
        $.ajax({
            //url: 'https://mobizoneapi.azurewebsites.net/api/users/CheckOutData',
            //url: 'http://subin4127-001-site1.etempurl.com/api/users/CheckOutData',
            url: getLink,
            type: 'get',
            datatype: 'json',
            success: function (data) {
                var c = 0;
                console.log(data);
                $('#datatable').dataTable({
                    data: data.result,
                    columns: [
                        { 'render': function () { ++c; return c; } },
                        { 'render': function (data, type, full, meta) { return '<a href="/admin/orderDetails/' + full.orderId + '">' + full.orderId + '</a>'; } },
                        { 'render': function (data, type, full, meta) { if (full.cancelRequested == null) { return ''; } else { return Roles[full.cancelRequested - 1] } } },
                        {
                            "render": function (data, type, full, meta) {
                                debugger
                                var sliceData
                                dataStatus = full.status;
                                if (dataStatus == 3) {
                                    sliceData = dataList.slice(2, 2);
                                }
                                else {
                                    sliceData = dataList.slice(dataStatus)
                                }
                                
                                var sliceStatus = statusList.slice(dataStatus)

                                var formData = '<form id="orderStatus" action="user/checkout" method="post"><input name="orderId" type="hidden" value="' + full.orderId + '"/><select id="enumDropdown" name="status" style="width: 39%;"><option value="' + dataList[full.status - 1] + '">' + dataList[full.status - 1] + '</option>';
                                var endData = '</select><input style="padding: 6px;margin-left: 23px;font-variant: all-small-caps;" type="submit" value="update" class="btn btn-orange"/></form>'
                                sliceData.forEach(function (element) {
                                    var option = '<option value="' + element + '">' + element + '</option>';
                                    formData = formData + option;
                                });
                                formData = formData + endData;
                                return formData;
                            }
                        }]
                })
                var $select = $('#enumDropdown');
            }
        })
    }
        $.ajax({
            url: 'RoleTYpe',
            type: 'get',
            datatype: 'json',
            success: function (data) {
                status = data;
                console.log(status);
                obj = JSON.parse(status);
                for (name in obj) {
                    Roles.push(name)
                }
            }
        })


        
            
     
        

    })

    function submitform() {
        document.getElementById("order_form").submit();
    }

    $(document).ready(function () {

    })


    function orderSubmit() {
        $("#orderStatus").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var actionUrl = form.attr('user/checkout');

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(),
                success: function (data) {
                    alert(data);
                },
                error: function (data) {
                    alert(data)
                }
            });

        });
    }

</script>


