@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class=" " container>

    <div class="box"></div>
    <div class="icon"></div>
    <div class=" text">
        <p>
            OrderId:12345432<br>
            CustomerId:34564<br>
            Samsung<br>Galaxy M12(Blue, 6GB RAM,128GB Storage)<br>Quantity:1<br>Price:124999/-<br>John Doe<br>Flat no:120<br>California,USA<br>Phone Number: 012-34323212
        </p>
    </div>
</div>

