@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row container-fluid pr-6">
    <div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="">
<div class="text-center">

    <form asp-action="PrivacyEdit" method="post">
        <h2>Privacy & Policy</h2>

        <textarea name="privacy" rows="10" cols="50"></textarea>
        <br />
        <div>
            <input type="submit" value="Save"  class="btn btn-primary"/>
        </div>

    </form>
</div>
</div></div></div></div></div>