@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">

    <form asp-action="PrivacyEdit" method="post">
        <h2>About</h2>

        <textarea name="privacy" rows="10" cols="50"></textarea>
        <br />
        <div>
            <input type="submit" value="Save" />
        </div>

    </form>
</div>