
@model IEnumerable<DomainLayer.Users.UserRegistration>

@{
    ViewData["Title"] = "Mobizone(Admin) Userdata";
}


<div class="container-fluid mt-3 align-middle">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="">

<table id="datatable" class="table table-bordered table-hover table-sm" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdOn)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="margin-left:5%">
            <td >
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdOn)
            </td>
            
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url:''
        })
    })
</script>