<header>
<<<<<<< HEAD

    <nav class="navbar  navbar-fixed-top" style=" background: linear-gradient( #ffd0d0 0%, #0099f3 100%);">

=======
    <nav class="navbar  navbar-fixed-top" style="background-color: #b5d9ff ">
>>>>>>> eabc3a58ede9c9a7e49add2b32b9e09f3c594017
        <div class="navbar-brand ">
            <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview-removebg-preview.png" alt=" Mobizone" style="height: 30px; width: 30px; margin-left: -165%;"
     class="float-left" />
        </div>
        @if (User.Identity.IsAuthenticated)
                        {
            <div style="text-align: end;     font-weight: 700;" class="col-10">
                @User.Identity.Name
            </div>
                            <div><a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="Logout">Logout</a></div>
                            
                          
        }
        else
        {
            <div class="navbar carousel-item-right">
            Admin
        </div>
        }
        
    </nav>
</header>

<style>
    header{
        z-index:999;
        background-color : white;

    }
    .card{
        font-variant: all-small-caps;
    text-align-last: center;
    font-weight: 500;
    font-size: 18px;
    }
</style>
