<header class="sticky-top">

    <nav class="navbar  navbar-fixed-top row" style="background: linear-gradient(to right,black, red ); ">

        <div class="col-2 ml-lg-1">
            <a asp-action="Index">
                <img src="~/css/Images/depositphotos_69864645-stock-illustration-letter-m-logo-icon-design-removebg-preview-removebg-preview.png" alt=" Mobizone" style="height: 30px;
                 width: 30px; margin-left: -8%; "
                     class="float-left" />
            </a>
            <a class="" asp-action="index" asp-controller="admin" style="margin-left: 0px; font-size:90%;
                   -webkit-text-stroke: thin;color:white;text-decoration:none;">MOBIZONE</a>

        </div>
        @if (User.Identity.IsAuthenticated)
                        {
            <div style="text-align: end;     font-weight: 700;" class="col-8">
                @User.Identity.Name
            </div>
                            <div><a class="nav-link text-dark col-2" asp-area="" asp-controller="admin" asp-action="Logout">Logout</a></div>
                            
                          
        }
        else
        {
            <div class="navbar carousel-item-right">
            Admin
        </div>
        }
        
    </nav>
</header>

<style>
    header{
        z-index:999;
        background-color : white;

    }
    .card{
        font-variant: all-small-caps;
    text-align-last: center;
    font-weight: 500;
    font-size: 18px;
    }
</style>
