@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Simpleview/_UserLogin.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Arvo" />
<partial name="_NavbarLayout" />
<section class="page_404" style=" padding-top: 90px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>


                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>

                        <p>the page you are looking for not available!</p>

                        <a href="/" class="link_404" style="background-color:darkred;">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .page_404 {
        padding: 40px 0;
        background: #fff;
        font-family: 'Arvo', serif;
    }

        .page_404 img {
            width: 100%;
        }

    .four_zero_four_bg {
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 400px;
        background-position: center;
    }


        .four_zero_four_bg h1 {
            font-size: 80px;
        }

        .four_zero_four_bg h3 {
            font-size: 80px;
        }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
    }

    .contant_box_404 {
        margin-top: -50px;
    }

    .content {
        margin-left: 0px !important;
    }
    #ui-id-1 {
        z-index: 1000;
    }

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: 0px;
    }

    footer {
        margin-top: 100px;
    }

    .dropdown {
        display: none;
        background-color: #275e4900;
        padding-left: 8px;
        text-align: center;
        font-size: medium;
    }

    li {
        display: inline;
    }

    a {
        cursor: pointer;
    }


    .dropbtn {
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }


        .dropdown-content a {
            color: black;
            padding: 12px 26px;
            text-decoration: none;
            display: block;
        }




            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }


    .dropdown:hover .dropbtn {
    }

    .dropdown-content a {
        color: black;
        padding: 12px 26px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
    }
    .btn-indigo {
        background: #e52d2e;
    }

    .btn-orange {
        background: #0099f3;
    }
</style>
